# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/

# Env files
.env
.env.*

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Alembic cache
alembic/__pycache__/

# Logs
*.log

# Docker
postgres_data/